.check{
    margin-left: 47%;
    margin-top: 8rem;
}
.fh{
    padding-top: 4%;
    border: 2px sold black;
}
h4{
    margin-left: -7rem;
}
.jk{
    padding-top: 3rem;
}
h5{
    padding-top: 30px;    
    margin-left: -5.5rem;
}
.dj{
    margin-left: -8rem;
    border: 1px solid black;
}
.kj{
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 40px;
    border: 1px solid rgb(175, 175, 0);
}