.vv
{
    /* width: 50%; */
    padding-top: 8px;
}
.si_up
{
    margin-left: -15rem;
}
.zz
{
    width: 40%;
    margin-left: 8rem;
    padding-top: 100px;
}
.mtt-1
{
    width: 300px;
    margin-left: -1rem;
}
.aaa
{
    margin-left: 17rem;
    margin-bottom: -5rem;
}
.aa
{
    margin-left: 12rem;
    margin-bottom: -5rem;
}
.mv
{
    margin-left: 30px !important;
}
#move{
    margin-left: 30px;
    width: 300px;
}
.aaa{
    margin-right: 100px;
}
b{
    padding-right: 5rem;
}
p{
    padding-right: 4rem;
}
.mt-3-link-mv1{
    padding-left: 420px;
    padding-top: 1rem;
}
.video
{
    
    height: 60%;
    width: 90%;
}
.dd
{
    display:flex ;
}
.flex1
{
    flex: 1;
}
.flex2
{
    flex: 1;
}
.main{
    display: flex;
}
.tem1{
    height: 500px;
    width:50%;
    background-color: rgb(255, 255, 255);
}
.tem2{
    height: 500px;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.mb-3
{
    width: 365px;
}
.p-3
{
    padding-top: 0px !important;
}
#kanna
{
    padding-top: 100px !important;
}